<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Un error ocurrió al intentar procesar su petición</h2>

<h3>Development Mode</h3>
<p>
    Al cambiar a <strong>Development environment</strong> se mostrará información más detallada sobre el error ocurrido.
</p>
<p>
    <strong>El entorno de desarrollo no debe estar habilitado para aplicaciones implementadas.</strong>
    Puede dar lugar a que se muestre información confidencial de excepciones a los usuarios finales.
    Para la depuración local, habilite el entorno <strong>Development environment</strong> configurando la variable de entorno
    <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Development</strong>
    y reiniciando la aplicación
</p>